In [135]:
import requests
import json
import math
import time
import os
import uuid
import platform
import logging
import subprocess
from subprocess import Popen, PIPE
import pandas as pd
from dateutil.relativedelta import relativedelta
import datetime
from datetime import timedelta
from dateutil import tz
import dateutil.parser as dp
import pandas.io.gbq as gbq
from google.cloud import bigquery
from google.cloud import storage

In [159]:
app_path = os.getcwd()
gspath = 'gs://sarasmaster'
os.chdir(os.getcwd())
filesep = '\\' if platform.system() == 'Windows' else '/'
gssep = '/'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "creds" + filesep + "sarasmaster-524142bf5547.json"
gcspath = 'C:\\Users\\kabhi\\AppData\\Local\\Google\\Cloud SDK\\google-cloud-sdk\\bin'
os.environ["PATH"] += os.pathsep + gcspath
batfile = app_path + filesep + 'movetogcs.bat' if platform.system() == 'Windows' else app_path + filesep + 'movetogcs.sh'
delimitertype = 'CSV'
loadtype = 'WRITE_APPEND'
skipheader = 1

In [160]:
filename = app_path + filesep + 'kopari' + filesep + 'nordstrom' + filesep + 'Nordstrom YTD unformatted.xls'
df = pd.read_excel(filename, sheet_name=0,header=None)
dfdata = df[2:]
dfdata = dfdata.reset_index(drop=True)
dfheaders = df[:2]

In [161]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Start Date,2018-01-07 00:00:00,End Date,2018-04-21 00:00:00,Number of Weeks,15,5148606,KOPARI BEAUTY,227,TR BATH & BODY,Sales and Inventory by Dept-VPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bus Unit,Group,Region,Store ID,Store,VPN,Last Receipt Date,Sales $,% Sales $ to Ttl Supplier,Sales U,Receipts Rtl $,Receipts U,% Sell Thru U,EOH $,% EOH $ to Ttl Supplier,EOH U,% Reg & Promo EOH U,OO Rtl $,OO U
2,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KCM-0200,COCONUT MELT 7OZ",4/9/2018,938.6,0.471407,28,2052,54,0.411765,1520,0.475,40,1,NaN,NaN
3,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KCD-0057,COCO DEODORANT",4/19/2018,548.38,0.275421,43,1722,123,0.323308,1260,0.39375,90,1,84,6
4,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KOP-0014,COCO COLLECTION OIL PULLING",3/21/2018,308.56,0.154973,13,168,6,0.764706,112,0.035,4,1,84,3

In [162]:
dfdata.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KCM-0200,COCONUT MELT 7OZ",4/9/2018,938.6,0.471407,28,2052,54,0.411765,1520,0.475,40,1,NaN,NaN
1,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KCD-0057,COCO DEODORANT",4/19/2018,548.38,0.275421,43,1722,123,0.323308,1260,0.39375,90,1,84,6
2,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KOP-0014,COCO COLLECTION OIL PULLING",3/21/2018,308.56,0.154973,13,168,6,0.764706,112,0.035,4,1,84,3
3,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KSS-0100,SLIP INTO SUMMER KIT",3/30/2018,177.52,0.0891585,7,532,19,0.388889,308,0.09625,11,1,NaN,NaN
4,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KCM-0075,COCONUT MINI MELT 2.5OZ",NaN,18,0.00904041,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
dfdata.columns = ['business_unit','group','region','store_id','store',
'vpn','last_receipt_date','sales','p_sales_to_total_supplier','sales_units',
'receipts_retail','receipts_units','p_sell_thru_units','eoh','eoh_to_ttl_supplier',
'eoh_units','p_reg_promo_eoh_units','oo_retail','oo_units']
dfdata['sku_number'], dfdata['item_description'] = dfdata['vpn'].str.split(',', 1).str

#dfdata['sku_number'],dfdata['item_description']  = pd.DataFrame(dfdata['vpn'].str.split(',',1).tolist(),columns = ['sku_number','item_description'])
#newdf  = pd.DataFrame(dfdata['vpn'].str.split(',',1).tolist(),columns = ['sku_number','item_description'])

In [164]:
dfdata.head()

,business_unit,group,region,store_id,store,vpn,last_receipt_date,sales,p_sales_to_total_supplier,sales_units,...,receipts_units,p_sell_thru_units,eoh,eoh_to_ttl_supplier,eoh_units,p_reg_promo_eoh_units,oo_retail,oo_units,sku_number,item_description
0,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KCM-0200,COCONUT MELT 7OZ",4/9/2018,938.6,0.471407,28,...,54,0.411765,1520,0.475,40,1,NaN,NaN,KCM-0200,COCONUT MELT 7OZ
1,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KCD-0057,COCO DEODORANT",4/19/2018,548.38,0.275421,43,...,123,0.323308,1260,0.39375,90,1,84,6,KCD-0057,COCO DEODORANT
2,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KOP-0014,COCO COLLECTION OIL PULLING",3/21/2018,308.56,0.154973,13,...,6,0.764706,112,0.035,4,1,84,3,KOP-0014,COCO COLLECTION OIL PULLING
3,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KSS-0100,SLIP INTO SUMMER KIT",3/30/2018,177.52,0.0891585,7,...,19,0.388889,308,0.09625,11,1,NaN,NaN,KSS-0100,SLIP INTO SUMMER KIT
4,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KCM-0075,COCONUT MINI MELT 2.5OZ",NaN,18,0.00904041,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KCM-0075,COCONUT MINI MELT 2.5OZ

In [165]:
start_date = dfheaders.iloc[0][1]
end_date = dfheaders.iloc[0][3]
no_week = dfheaders.iloc[0][5]
currency_cd = 'USD' if '$' in dfheaders.iloc[1][7] else 'TBD'
quarter = pd.Timestamp(start_date).quarter
year = pd.Timestamp(start_date).year
load_id = uuid.uuid4()
dfdata['load_id'] = load_id
dfdata['start_date'] = start_date
dfdata['end_date'] = end_date
dfdata['year'] = year
dfdata['qtr'] = quarter
dfdata['week'] = no_week
dfdata['currency_code'] = currency_cd
print(start_date)
print(end_date)

2018-01-07 00:00:00
2018-04-21 00:00:00

In [166]:
dfdata.head()

,business_unit,group,region,store_id,store,vpn,last_receipt_date,sales,p_sales_to_total_supplier,sales_units,...,p_reg_promo_eoh_units,oo_retail,oo_units,sku_number,item_description,load_id,year,qtr,week,currency_code
0,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KCM-0200,COCONUT MELT 7OZ",4/9/2018,938.6,0.471407,28,...,1,NaN,NaN,KCM-0200,COCONUT MELT 7OZ,67ea1793-a458-4fa1-846c-933b46b1e229,2018,1,15,USD
1,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KCD-0057,COCO DEODORANT",4/19/2018,548.38,0.275421,43,...,1,84,6,KCD-0057,COCO DEODORANT,67ea1793-a458-4fa1-846c-933b46b1e229,2018,1,15,USD
2,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KOP-0014,COCO COLLECTION OIL PULLING",3/21/2018,308.56,0.154973,13,...,1,84,3,KOP-0014,COCO COLLECTION OIL PULLING,67ea1793-a458-4fa1-846c-933b46b1e229,2018,1,15,USD
3,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KSS-0100,SLIP INTO SUMMER KIT",3/30/2018,177.52,0.0891585,7,...,1,NaN,NaN,KSS-0100,SLIP INTO SUMMER KIT,67ea1793-a458-4fa1-846c-933b46b1e229,2018,1,15,USD
4,FULL LINE,NORTHWEST FLS,WASHINGTON/ALASKA FU,1,DT SEATTLE,"KCM-0075,COCONUT MINI MELT 2.5OZ",NaN,18,0.00904041,1,...,NaN,NaN,NaN,KCM-0075,COCONUT MINI MELT 2.5OZ,67ea1793-a458-4fa1-846c-933b46b1e229,2018,1,15,USD

In [167]:
def loadlocalfiletogooglestorage(batfile, source_file_name, dest_file_name):
    pass_arg=[]
    pass_arg.append(batfile)
    pass_arg.append(source_file_name)
    pass_arg.append(dest_file_name)
    p = Popen(pass_arg, stdout=PIPE, stderr=PIPE)
    output, errors = p.communicate()
    p.wait() # wait for process to terminate
    print(output)
    print(errors)

In [168]:
def loadfiletobigquery(file_name, dataset_id, table_name, delimitertype, loadtype, skipheader):
    client = bigquery.Client()
    table_ref = client.dataset(dataset_id).table(table_name)
    job_config = bigquery.LoadJobConfig()
    if skipheader is not None:
        job_config.skip_leading_rows = skipheader
    job_config.source_format = delimitertype
    #if delimitertype == bigquery.SourceFormat.CSV:
        #job_config.autodetect = True
    job_config.write_disposition = loadtype

    load_job = client.load_table_from_uri(
        file_name,
        table_ref,
        job_config=job_config)  # API request

    assert load_job.job_type == 'load'

    load_job.result()  # Waits for table load to complete.

    assert load_job.state == 'DONE'

In [169]:
print(start_date.strftime('%Y%m%d'))
print(end_date.strftime('%Y%m%d'))
print(localfilename)

20180107
20180421
C:\Users\kabhi\Desktop\datamaster\kopari\nordstrom\nordstrom_sales_20180107_20180421.csv20180107_20180421.csv

In [171]:
localfilename = app_path + filesep + 'kopari' + filesep + 'nordstrom' + filesep + 'nordstrom_sales_'
gsfilepath = gspath + gssep + 'kopari' + gssep + 'nordstrom'
localfilename = localfilename + start_date.strftime('%Y%m%d') + '_' + end_date.strftime('%Y%m%d') + '.csv'
dfdata.to_csv(localfilename, index=False)

In [172]:
loadlocalfiletogooglestorage(batfile, localfilename, gsfilepath)

b'\r\n(datamaster) C:\\Users\\kabhi\\Desktop\\datamaster>gsutil cp C:\\Users\\kabhi\\Desktop\\datamaster\\kopari\\nordstrom\\nordstrom_sales_20180107_20180421.csv gs://sarasmaster/kopari/nordstrom \r\n'
b'Copying file://C:\\Users\\kabhi\\Desktop\\datamaster\\kopari\\nordstrom\\nordstrom_sales_20180107_20180421.csv [Content-Type=application/vnd.ms-excel]...\r\n/ [0 files][    0.0 B/139.0 KiB]                                                \r/ [1 files][139.0 KiB/139.0 KiB]                                                \r-\r\r\nOperation completed over 1 objects/139.0 KiB.                                    \r\n'

In [173]:
gsfilename = gsfilepath + gssep + 'nordstrom_sales_' + start_date.strftime('%Y%m%d') + '_' + end_date.strftime('%Y%m%d') + '.csv'
loadfiletobigquery(gsfilename, 'kopari', 'nordstrom_sales', delimitertype, loadtype, skipheader)

BadRequest: 400 Error while reading data, error message: CSV table encountered too many errors, giving up. Rows: 1; errors: 1. Please look into the error stream for more details.

In [99]:
def getlastupdateddate(dataset_name, table_name):
    client = bigquery.Client()
    query = "select max(to_date) max_updated_dt,max(to_date) min_updated_dt from " + dataset_name + "." + table_name + ";"
    job_config = bigquery.QueryJobConfig()
    query_job = client.query(query, job_config=job_config)

    query_job.result()  # Wait for job to complete

    # Print the results.
    destination_table_ref = query_job.destination
    table = client.get_table(destination_table_ref)
    table_data = None
    for row in client.list_rows(table):
        table_data = row
    return table_data

In [106]:
def checkexceptions(dataset_name, table_name, column_name):
    lastshopdate = getlastupdateddate('kopari', 'locad_tracking').max_updated_dt
    noexceptions = True if dfdata[(dfdata[column_name] > lastshopdate)].shape[0] > 0 else False
    return noexceptions